body, html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.container {
    height: 100%;
    width: 768px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.chat-container {
    border-radius: 4px;
    min-height: 400px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}

.messages {
    background-color: white;
    flex-grow: 1;
    border-radius: 4px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.input-prompt {
    height: 50px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    padding: 5px;
}

textarea {
    width: 100%;
    height: auto;
    flex-grow: 1;
}

#promptBtn {
    width: 100px;
    font-size: 18px;
}

.bubble {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #d3d3d361;
    min-width: 100px;
    max-width: max-content;
    font-size: 12px;
    color: darkslategray;
    letter-spacing: 1px;
    line-height: 20px;
    width: 80%;
}

.prompt-text {
    border-bottom-right-radius: 0;
    align-self: flex-end;
}


.response-text {
    border-bottom-left-radius: 0;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

img#loader {
    display: none;
}

.loading img#loader {
    display: inline;
}

.loading .bubble {
    display: none;
}
